*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}
body {
    background-color:rgb(212, 210, 204) ;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}
.container {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 5px  15px rgba(0,0,0);
    position:relative;
    overflow: hidden;
    width: 760px;
    max-width: 100%;
    min-height: 480px;
}
.container p{
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.3px;
    margin: 20px 0;
}
.container span{
    font-size: 12px;
}
.container a{
    color: #333;
    font-size: 13px;
    text-decoration: none;
    margin: 15px 0;
}
.log-but button {
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 5px;


}
.container h1{
    margin-bottom: 10px;
}
.login{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 90%;
}
.container input {
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding:  10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}
.form-container {
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.sign-in {
    left: 0;
    width: 50%;
    z-index: 2;
}
.under-login{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.toggle-container {
    position:absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    z-index: 1000;
    border-radius: 50px 0 0 50px;
}
.toggle {
    background-color: #333;
    height: 100%;
    left: -100%;
    width: 200%;
    transform: translateX(0);
    transition: all 0.6s ease-in-out;

}
.toggle-panel {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    left: 0;
    top: 0;
    width: 50%;
    height: 100%;

}
.toggle img {
    max-width: 100%;
    max-height: 100%;
}
.menu-container {

    background-color: beige;
    border-radius: 20px;
    box-shadow: 0 5px  15px rgba(0,0,0);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    
}
.under-login button{
    margin:5px;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px solid transparent;
    background-color: #ffffff;
}

.buttons { 
    display: flex;
    flex-direction: column;
}
.row {
    display: flex;
    justify-content: space-around;
    margin-bottom: 5px;
}
.buttons button {
    flex:1;
    border-radius: 10px;
    background: #383737;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 50px 75px;
    margin: 10px;
    border: 1px solid transparent;
    font-size: 30px;

}
.box2 button {
    padding: 20px 55px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: -300px;
    border-radius: 10px;
    background: #383737;
    box-shadow: 0px 8px 4px 0px rgba(0, 0, 0, 0.25);
    border: 1px solid transparent;
    font-size: 20px;
}
.row button:active {
    background-color: #71777c;
    color: #fff;
    box-shadow: none;
  }
.box2 button:active {
    background-color: #71777c;
    color: #fff;
    box-shadow: none;
}

.back button {
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 5px;
    margin-left: 5px;
}
.login button {
    background-color: rgb(31, 31, 31);
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 10px;
    margin-top: 5px;
}

@media only screen and (max-device-width: 430px) {
    .body{
        flex-direction: column;
    }
    .container {
        width: 100%;
        height: 100%;
    }
    .form-container{
        top: 50%;
        height:50%;
        width: 100%;
    }
    .container input {
        padding: 30px 40px;
        font-size: 36px;
    }
    .toggle-container{
        width: 100%;
        height:50%;
        top:0%;
        left:0%;
        border-radius: 0 0 0 0;
    }
    .log-but button {
        font-size: 36px;
        padding: 20px 90px;
    }
    .container h1{
        font-size: 60px;
    }
    .toggle img {
        width: 100%;
    }
    * {
        font-size: 36px;
    }
    .login button {
        font-size: 36px;
        padding: 20px 90px;
    }
    .back button {
        font-size: 36px;
        padding: 20px 90px;
    }
    .menu-container {
        width: 100%;
        height: 100%;
    }
    .menu-container img {
        margin-top: 0px;
        height: 25%;
        width: 75%;
    }
    .buttons button {
        font-size: 50px;
        padding: 100px 150px;
        height: 100%;
        width: 100%;
    }
}